/* $Id: style.rhtml 623 2006-08-31 17:25:30Z ikeda $ */

/* メモ */
/* <div class="foo"><div> の場合の記述方法は? div.foo{  } */
/* <div id="foo"><div> の場合の記述方法は?    div#foo{  } */
/* p の中にある strong に対応するには?        p strong {  } */
/* p の直後にある strong に対応するには?      p > strong {  } */
/* ul に隣接する p に対応するには?            ul + p {  } */
/* <a href="〜"></a> に対応するには?          a[href] {  } */
/* <a href="#top"></a> に対応するには?        a[href="#top"] {  } */

/* パラメータの指定順 */
/* 1. 上下左右 */
/* 2. 上下, 左右 */
/* 3. 上, 左右, 下 */
/* 4. 上, 右, 下, 左 */

/* 色指定 */
/* rgb(0,128,0) #cfc #ccffcc は同じ */

@charset "UTF-8";      /* UTF-8にしておくとFireFoxのCSS編集画面で化けなくなる */


<%
@colors = {}

require "palette"

@paper_color       = Palette[3]
@orange_color      = Palette[1]
@hada_color        = Palette[3]
@light_main_color  = Palette[1]
@link_color        = Palette[10]
@dark_main_color   = Palette[1]
@line_color        = Palette[1]
@main_font_color = Palette[7]
@black_color       = Palette[1]
@white_color       = "#fff"
@focus_color       = Palette[8]
@hover_color       = Palette[9]
@pre_color         = Palette[7]


@colors[:gnavi_link_back]        = Palette[9]
@colors[:gnavi_line]             = Palette[1]
@colors[:gnavi_font]             = Palette[1]
@colors[:gnavi_back]             = Palette[8]
@colors[:gnavi_link_font]        = Palette[1]

@colors[:gnavi_back_active]      = Palette[8]
@colors[:gnavi_font_active]      = Palette[1]

@colors[:headerTop_border] = Palette[1]
@colors[:headerTop_back] = Palette[1]
@colors[:headerTop_font] = Palette[3]

@colors[:headerBanner_back] = Palette[3]
@colors[:headerBanner_font] = nil
@colors[:headerBanner_border] = Palette[1]

@colors[:footerBanner_back] = Palette[3]
@colors[:footerBanner_font] = Palette[1]
@colors[:footerBanner_border] = Palette[1]


@sidebar_back_color     = Palette[9]
@sidebar_text_back_color = @white_color
@sidebar_menu_line = Palette[1]
@sidebar_font = Palette[1]
@sidebar_menu_title_back = Palette[1]
@sidebar_menu_title_font = Palette[3]

@calendar_back_color     = Palette[3]
@calendar_text_back_color = @white_color
@calendar_line_color = Palette[1]
@calendar_font = Palette[1]
@calendar_menu_title_back = Palette[9]
@calendar_menu_title_font = Palette[1]




@title_font_color = @white_color


@bbstitle_font = Palette[1]
@bbstitle_back = Palette[9]
@bbs_thread_line = Palette[1]

@input_color = Palette[2]

@real_font_color = "#505050"
@link_font_color = Palette[1]
@pale_black_color = "#b0b0b0"

@black_font_color = @real_font_color
@dark_font_color = Palette[6]
@dark_color = Palette[6]

@colors[:footer_link]          = @black_color#フッダー内のリンク色
@colors[:topic_path_background] = Palette[3]
@colors[:topic_path_font]      = @real_font_color
@colors[:sidebar_background]   = @sidebar_back_color

@colors[:subject_back] = @hada_color
@colors[:subject_font] = @black_color
@colors[:subject_bo] = @bbs_thread_line


@colors[:base_back]              = @hada_color #背景色
@colors[:content_main_back]      = Palette[3]
@colors[:content_main_line]    = Palette[11]
@top_bottom_color = Palette[6]

@colors[:base_font]            = @black_font_color#文字色
@colors[:base_link_title]      = @title_font_color#タイトル
@colors[:description]          = Palette[3]

@colors[:sidebar_menu_title_font]     = @sidebar_menu_title_font
@colors[:sidebar_menu_title_back]     = @sidebar_menu_title_back
@colors[:sidebar_menu_font]      = @sidebar_text_font_color
@colors[:sidebar_menu_back]      = @sidebar_text_back_color
@colors[:sidebar_menu_line]    = @sidebar_menu_line
@colors[:sidebar_font]    = @sidebar_font

@colors[:legend_back]            =  @light_main_color
@colors[:legend_font]            =  @black_color
@colors[:legend_line]          =  @line_color

@colors[:active_link_back]        = Palette[9]
@colors[:link_font_color]         = @link_font_color
@colors[:bbstitle_back]          = @bbstitle_back
@colors[:bbstitle_font]          = @bbstitle_font
@colors[:bbs_thread_line]      = @bbs_thread_line

@colors[:bbstext_font]           = @real_font_color
@colors[:bbstext_back]           = Palette[3]

@colors[:submit_font]            = Palette[1]
@colors[:submit_back]            = Palette[7]
@colors[:submit_line]            = @line_color

@colors[:field_set_line]       = @line_color

@colors[:error_field_back]     = Palette[3]
@colors[:error_message]        = Palette[1]
@colors[:error_line]           = Palette[1]
@colors[:error_box_back]       = Palette[8]
@colors[:error_title_font]     = Palette[3]
@colors[:error_title_back]     = Palette[1]



space_size = 16
side_bar_width = 220
label_witdh = 100

%>

/*----------------------------------------------------------------------------*/
/* タグ付け確認用。div設定した部分が枠線で囲まれる。 */
/*----------------------------------------------------------------------------*/
/* div { */
/*   border: dashed 1px #f9f; */
/* } */

/* p { */
/*   border: dashed 1px #9cf; */
/* } */

/* span { */
/*   border: dashed 1px #9fc; */
/* } */

/* img { */
/*   height: 160px; */
/* } */


/*----------------------------------------------------------------------------*/
/* 最初の設定 */
/*----------------------------------------------------------------------------*/

/* デフォルトのマージンに惑わされないようにクリアしておく */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/* ページ全体の設定 */
/*----------------------------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 12px;
  font-family: "メイリオ", "ＭＳ Ｐゴシック", Arial, Helvetica, sans-serif;
  color: <%= @colors[:base_font] %>;
/*  background: <%= @paper_color %> url(../images/W10.gif); */
/*   background: <%= Palette[10] %>; */
/*   background: <%= @paper_color %> url(http://freett.com/buhinn/witchandmagic/witch09.jpg); */


<%=
  image_file = Pathname("#{RAILS_ROOT}/public/images/__body_background.png")
  if !image_file.exist? || ENV["RAILS_ENV"] == "development"
    require "RMagick"
    image = Magick::Image.new(16, 480, Magick::GradientFill.new(0, 0, 100, 0, Palette[9], Palette[10]))
    image.write(image_file.to_s)
  end
  "background: #{Palette[10]} url(../images/#{image_file.basename}) repeat-x top left;"
%>

}

/*----------------------------------------------------------------------------*/
/* イメージのリンクが囲まれるのを防ぐ
/*----------------------------------------------------------------------------*/

img {
  border: 0;
}

/*----------------------------------------------------------------------------*/
/* リンク */
/*----------------------------------------------------------------------------*/

a:link, a:visited {
  color: <%= @link_font_color %>;
  text-decoration: none;
}

a:hover, a:active {
  color: <%= @link_font_color %>;
  text-decoration: underline;
}


/*----------------------------------------------------------------------------*/
/* コンテンツ部分 */
/*----------------------------------------------------------------------------*/

#container {

  position: relative;


  margin: 0;
  padding: 0;

  /* 上下に隙間を入れるときはここを調整 */
  margin: 0px auto 0px auto;

  color: <%= @colors[:base_font] %>;

/*   background: <%= @colors[:base_back] %>; */

  width: 760px;
/*   border: 0px solid <%= @colors[:content_main_line] %>; */
/*   border-right: 1px solid <%= Palette[7] %>; */

  background: <%= Palette[1] %>; /* 背景色と同じにすることでドットの間の色が背景色になる */
  border-right:  1px dotted <%= Palette[5] %>;
  border-left:   1px dotted <%= Palette[5] %>;
}


/*----------------------------------------------------------------------------*/
/* タイトルバナー部分の全体 */
/*----------------------------------------------------------------------------*/

#headerTop {
/*   border-top: 3px solid <%= @colors[:gnavi_line] %>; */
  border-top:    3px solid <%= @top_bottom_color %>;
  border-bottom: 3px solid <%= Palette[10] %>;
/*   border-bottom: 2px solid <%= @top_bottom_color %>; */
  background-color: <%= @colors[:headerTop_back] %>;

<%#
  image_file = Pathname("#{RAILS_ROOT}/public/images/__header_background.png")
  if !image_file.exist? || ENV["RAILS_ENV"] == "development"
    require "RMagick"
    image = Magick::Image.new(16, 32, Magick::GradientFill.new(0, 0, 100, 0, Palette[6], @colors[:headerTop_back]))
    image.write(image_file.to_s)
  end
  "background: #{@colors[:headerTop_back]} url(../images/#{image_file.basename}?#{Time.now.usec}) repeat-x top left;"
%>


}

#headerTopLink {
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 12px 16px 0px 0px;
  border-top: 0px solid;
  border-bottom: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  color: <%= @colors[:headerTop_font] %>; /* border-colorの値を上書きしてしまう */
  font-size: 90%;
  text-decoration: none;
  text-align: right;
}

#headerTopLink a:link, #headerTopLink a:visited, #headerTopLink a:hover, #headerTopLink a:active {
  color: <%= @colors[:headerTop_font] %>;
  text-decoration: none;
  font-weight: bold;
}

#headerTopLink a:hover, #headerTopLink a:active {
  background: none;
  text-decoration: none;
}

#description {
  clear: both;
  color: <%= @colors[:description] %>;
  font-size: 11px;
  font-weight: bold; /* 太字 */
  margin: 0px 14px 0px 8px;
  padding: 0px 4px 10px 10px;
  text-align: left;
}








/* ---------------------------------------------------------------------------- */
/* topic_path */
/* ---------------------------------------------------------------------------- */

#topic_path_list {
  float: right;
  padding: 0px 0px 0px 0px;
  margin: 8px <%= space_size + 1 %>px 8px 0px;
/*   background: <%= @colors[:topic_path_background] %>; */
  color: <%= @real_font_color %>;
  font-size: 10px;
  text-align: right;
/*   border-top: 2px solid; */
/*   border-bottom: 1px dotted; */
/*   border-color: <%= @colors[:gnavi_line] %>; */
}

#topic_path_list a {
  color: <%= @link_font_color %>;
}


/* ---------------------------------------------------------------------------- */
/* 左サイドバーと中央コンテンツと右サイドバーのグループ */
/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
/* サイドバー共通 */
/* ---------------------------------------------------------------------------- */

.sidebar {
  padding: 0px 0px 0px 0px;
  width: <%= side_bar_width %>px;
/*   height: 400px;                 /\* 最低限の縦幅 *\/ */
}



/*----------------------------------------------------------------------------*/
/* 左サイドバー全体 */
/*----------------------------------------------------------------------------*/

#sidebar {
  float: right;
  padding: 0px <%= space_size %>px 0px <%= space_size %>px;
}


/*----------------------------------------------------------------------------*/
/* フッター */
/*----------------------------------------------------------------------------*/

#footer {
  clear: both;
  font-size: 10px;
  margin-top: 0px;
  padding: 6px 0px;
  width: 100%;
  text-align: center;
  background: <%= @colors[:footerBanner_back] %>;
  color: <%= @colors[:footerBanner_font] %>;
  border-top: 3px solid;
  border-color: <%= @colors[:footerBanner_border] %>;
  border-bottom: 3px solid <%= @top_bottom_color %>;
}

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
  color: <%= @colors[:footerBanner_font] %>;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover, #footer a:active {
  text-decoration: underline;
}

#footer img {
  padding: 0px;
  border: 0;
  vertical-align: bottom;
}

#footerNavi {
  margin: 3px 0px 8px 0px;
  list-style: none;
}

#footerNavi li {
  display: inline;
  margin: 0px 10px;
}

/*
#footerNavi:before {
  content: " | ";
}
#footerNavi li:after {
  content: " | ";
}
*/


/*----------------------------------------------------------------------------*/
/* リンク */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* タイトルの文字 */
/*----------------------------------------------------------------------------*/

h1 {
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 22px 0px 8px 22px;
  font-weight: bold;         /* 太字 */
  font-size: 32px;
/*   display: none; */
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: <%= @colors[:base_link_title] %>;
  text-decoration: none;
  font-weight: bold;
  background: none;
/*   display: none; */
}

h1:first-letter, h1 a:first-letter {
  font-size: 36px;
  color: <%= @main_font_color %>
}



/*----------------------------------------------------------------------------*/
/* 中央 */
/*----------------------------------------------------------------------------*/

#contentMainWithSidebar {
  background: <%= @colors[:sidebar_background] %>;
}

#contentMain {
  float: left;
  padding: <%= space_size %>px <%= space_size %>px <%= space_size %>px <%= space_size %>px;
  margin: 0px 0px 0px 0px;
  width: <%= 760 - side_bar_width - space_size*4 - 1 %>px;
  background-color: <%= @colors[:content_main_back] %>;
  border-right: 1px dashed <%= @line_color %>;
/*   background: url(../images/te_b_009.jpg) top right; */
}



/*----------------------------------------------------------------------------*/
/* サイドメニューの中のタイトル付きリスト */
/*----------------------------------------------------------------------------*/

/* ボックス全体 */
.sidebar dl {
  margin: 10px 0px 10px 0px;     /* ボックスの下のとの間隔 */
/*   list-style: none; /\* ドットなし *\/ */
  font-size: 10px;

  /* 中身の位置調整 */
  padding: 0px 0px 0px 0px;     /* 最後の行と下のラインの隙間を空ける */

  /* 上以外を囲む */
  border-bottom: 1px solid <%= @colors[:sidebar_menu_line] %>;
  border-left: 1px solid <%= @colors[:sidebar_menu_line] %>;
  border-right: 1px solid <%= @colors[:sidebar_menu_line] %>;

/*   border: 1px solid <%= @colors[:sidebar_menu_line] %>; */
  background-color: <%= @colors[:sidebar_menu_back] %>;
  color: <%= @colors[:sidebar_font] %>;
}

.sidebar dt {
  margin: 0px 0px 4px 0px;      /* タイトルと最初の行との間を少し空ける。*/
  padding: 0.2em 0.4em 0.2em 0.8em; /* タイトルの枠の大きさ */
  text-align: left;
/*   letter-spacing: 0.15em;       /\* 文字間隔を空ける *\/ */
  font-size: 12px;
  font-weight: bold;            /* 太字 */
  color: <%= @colors[:sidebar_menu_title_font] %>;
  background-color: <%= @colors[:sidebar_menu_title_back] %>;
/*   border-bottom: 1px solid <%= @colors[:sidebar_menu_line] %>; /\* タイトルの下の線。なくてもいいかも *\/ */

}

/* 中身の一つの行 */
.sidebar dd {
  font-size: 10px;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  color: <%= @colors[:sidebar_font] %>;
/*   color: <%= @colors[:sidebar_menu_back] %>; */
}

.sidebar dd a {
  color: <%= @black_color %>;
}

/*----------------------------------------------------------------------------*/
/* サイドメニューの中のシンプルなリスト */
/*----------------------------------------------------------------------------*/

/* ボックス全体 */
dl.simple_navi {
  margin: 0px 0px <%= space_size %>px 0px;
  padding: 0px 0px 0px 0px;
  border-style: none;
}

.simple_navi dt {
}

.simple_navi dd {
  width: <%= side_bar_width %>;
  margin: 0px 12px 0px 12px;
  color: <%= @colors[:simple_navi_menu_back] %>;
  border-bottom: 1px dashed <%= @colors[:sidebar_menu_line] %>;
}

.simple_navi dd a {
  display: block;
  padding: 0px;
  margin: 12px 0px 3px 4px;
  font-size: 120%;
  color: <%= @black_color %>;
  text-decoration: none;
}


/*----------------------------------------------------------------------------*/
/* サイドメニューの中のタイトル */
/*----------------------------------------------------------------------------*/

/* サイドバー内のタイトルの装飾 */
.roundedTitle {
  padding: 0px 0px 4px 0px;
  margin: <%= space_size %>px 0px 0px 0px;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  background-color: <%= @colors[:sidebar_menu_title_back] %>;
  color: <%= @colors[:sidebar_menu_title_font] %>;

<%#
  image_file = Pathname("#{RAILS_ROOT}/public/images/__sidebar_menu_title_background.png")
  if !image_file.exist? || ENV["RAILS_ENV"] == "development"
    require "RMagick"
    image = Magick::Image.new(128, 32, Magick::GradientFill.new(0, 0, 0, 100, Palette[3], @colors[:sidebar_menu_title_back]))
    image.write(image_file.to_s)
  end
  "background: #{@colors[:sidebar_menu_title_back]} url(../images/#{image_file.basename}?#{Time.now.usec}) repeat-x top left;"
%>





}

/* サイドバー内のタイトル文字列 */
.roundedTitle span {
  padding: 0px 0px 0px 20px;
}

/* サイドバー内の文章の箱 */
.roundedContent {
  padding: 4px 4px 4px 4px;
  margin: 0px 0px 0px 0px;
  border-left: 1px solid <%= @colors[:sidebar_menu_line] %>;
  border-right: 1px solid <%= @colors[:sidebar_menu_line] %>;
  border-bottom: 1px solid <%= @colors[:sidebar_menu_line] %>;
  background-color: <%= @colors[:sidebar_menu_back] %>;
}

/* サイドバー内の文章 */
.roundedContent p {
  font-size: 10px;
  padding: 0px 0px 0px 0px;
  margin: 2px 8px 2px 8px;
}


/*----------------------------------------------------------------------------*/
/* 関連メモ */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* 関連メモ */
/*----------------------------------------------------------------------------*/

.related_articles {
  font-size: 12px;
  padding: 0px;
  margin: 12px 0px 15px 0px;
}

.related_articles dt {
  display: none;

  padding: 1px 0px 1px 0px;
  margin: 0px 0px 0px 0px;
  font-weight: normal;
  text-align: left;
  background-color: <%= @colors[:sidebar_menu_title_back] %>;
}

.related_articles dd {
  padding: 5px 5px;
  margin: 0px 0px 0px 0px;
  background-color: <%= Palette[9] %>;
  -moz-border-radius: 16px;
}

.related_articles li {
  margin: 1px 8px;
}
.related_articles li a {
  color: <%= Palette[6] %>;
}




/*----------------------------------------------------------------------------*/
/* サイドメニューの中のタイトル */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* サイドメニューの中のリストの全体 */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* サイドメニューの中のリンク */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* 記事 */
/*----------------------------------------------------------------------------*/

.subject {
  margin: 4px 14px 14px 14px; /* 上 右 下 左 (ボーダーの外側で相殺される余白) */
  padding: 4px 4px 0px 0.5em;  /* 上 右 下 左 (ボーダーの内側) */
  border-bottom: 1px dotted;
  background: <%= @colors[:bbstext_back] %>;
  color: <%= @colors[:subject_font] %>;      /* border-colorの値を上書きしてしまう */
  border-color: <%= @colors[:subject_bo] %>;
  font-size: 120%;
  text-decoration: none;              /* none underline */
  text-align: left;                 /* center right left */
}


h2 {
  margin: 0px 0px 4px 0px;
  padding: 2px 0em 1px 0.4em;
  font-size: 150%;
  color: <%= @colors[:bbstitle_font] %>;
  font-weight: bold;
  border-bottom: 1px dotted <%= @colors[:bbs_thread_line] %>;
/*   background: url(../images/icons/star.png) no-repeat top left; */
}

h4 {
  background: <%= @line_color %>;
}


/*----------------------------------------------------------------------------*/
/* 掲示板 */
/*----------------------------------------------------------------------------*/


/* フィールドの項目のいくつかをグループ化して下に点線を入れる */
fieldset {
  margin: 0;
  padding: 0;

/*   margin: 8px 0px 4px 0px; */
/*   padding: 0.5em 0em 0.5em 0em; */
/*   border: 1px solid <%= @colors[:bbs_thread_line] %>; */
/*   background-color: <%= @colors[:bbstext_back] %>; */
/*   border-width: 1px; */
/*   border-color: <%= @colors[:field_set_line] %>; */
/*   border-style: none none dotted none; /\* 下に点線 *\/ */
}

legend {
/*   padding: 0.2em 1em; */
/*   background: <%= @colors[:legend_back] %>; */
/*   color: <%= @colors[:legend_font] %>; */
/*   border: 1px solid <%= @colors[:legend_line] %>; */
/*   font-weight: bold; */
/*   font-size: small; */
/*   vertical-align: middle; */
}

/* 最後の fieldset には下線をつけない */
fieldset#last {
  border-bottom: none;
}

/* form */
dl {
  margin: 0px 40px 0px 40px;
  padding: 0;
}

dt {
  font-size: 10px;
  margin: 10px 0px 2px 0px;
  padding-left: 4px;
  border-left: 8px solid <%= @light_main_color %>;
  font-weight: normal;
}

dd {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
}

/* エラーが起きたフィールド */
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
/*   border-width: 3px;            /\* 大き目にしとかないとエラーのときの枠が綺麗に引かれない *\/ */
/*   background: <%= @colors[:error_field_back] %>; /\* 入力エリアの色 *\/ */
}

/* エラーメッセージ */
.formError {
  font-size: 10px;
  color: <%= @colors[:error_message] %>;
}

/* マウスが上に来たときの背景色(focusより前に設定すること) */
input:hover[type="text"], input:hover[type="password"], select:hover, textarea:hover {
  background: <%= @hover_color %>;
}

/* フォーカス時の背景色(hoverより後に設定すること) */
input:focus[type="text"], input:focus[type="password"], select:focus, textarea:focus {
  background: <%= @focus_color %>;
}

/* リンクときはマウスのマークを変更する。デフォルトではコントールの上にマウスが来てもカーソルが変わらない */
label, input[type="submit"], input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: middle;
}

/* フォーム内のテキストフィールドは width で設定しない */
dd input[type="text"], input[type="password"], dd textarea {
  width: 100%;
}

dd textarea {
  height: 200px;
}

input[type="text"], input[type="password"], textarea {
  border-width: 1px;
  border: 1px dotted <%= @light_main_color %>;
}

input[type="submit"] {
}

dd input[type="checkbox"] {
  margin-left: 0px;
}

/* ボタンは真中で表示 */
.submit {
  text-align: center;
  margin: 12px auto 12px auto;
}

h2 {
}

h3 {
  margin: 15px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  text-indent: 24px;
  font-size: 14px;
  color: <%= @dark_font_color %>;
  font-weight: bold;
  border-bottom: 1px dotted <%= @colors[:bbs_thread_line] %>;
  background: url(../images/b7.gif) no-repeat top left;
}

p {
  margin: 1em 1em 1em 1em;
}

/* 一覧 */
.article_list {
  padding: 0.0em 0em 0em 0em;
  margin: 0.0em 1em 0em 1em;
}

/* 掲示板の書き込み内容 */
.article_body {
  font-size: 12px;
  color: <%= @colors[:bbstext_font] %>;
  padding: 0.0em 0em 0em 0em;
  margin: 0.0em 1em 0em 1.5em;
}

/* 掲示板の書き込みの1段落 */
.article_body p {
  line-height: 1.4;
  margin: 1.0em 0em;
  text-align: left;
}

.article_header_subject, .article_header_subject a {
  margin: 8px 0px 0px 0px;
  font-size: 14px;
/*   color: <%= Palette[5] %>; */
/*   color: #0d3896; */
/*   color: #1743a3; */
  /* 順に、彩度-5、明度+5していく*/
/*   color: rgb(33,78,176); */
/*   color: rgb(45,90,189); */
/*   color: rgb(60,105,201); */
/*   color: rgb(75,119,214); */
/*   color: rgb(10,45,120); */
/*   color: rgb(57,104,120); */
/*   color: rgb(0,102,135); */
/*   color: rgb(0,42,135); */
/*   color: #999; */
/*   color: rgb(0,48,153); */
  color: <%= Palette[5] %>;
  font-weight: bold;
}

/* New アイコン */
.new1, .new2 {
  font-size: 9px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-weight: normal;
}
.new1 {
  /* color: #ff0000; */ /* vivid red 0度 */
  color: #ff6666; /* bright red 0度 */
}
.new2 {
  /* color: #c2a3a3; */ /* light graysh red 0度 */
  color: #f0dcdc; /* pale red 0度 */
}

.article_header_tag {
  margin: 0px 0px 0px 18px;
  font-size: 12px;
  color: <%= Palette[10] %>;
  white-space: normal;
}

.article_header_edit {
  font-size: 12px;
  color: <%= Palette[10] %>;
}

.article_footer {
  text-align: right;
  font-size: 12px;
  margin: 2em 1em 0em 1em;
}

#article_edit {
  margin: 0;
  padding: 0;
  border: 1px solid <%= @colors[:sidebar_menu_line] %>;
}

.article_body textarea {
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 1px solid <%= @colors[:sidebar_menu_line] %>;
}

/* 「同じ題名のメモがあります」等の警告 */
/* 色は NEW の色と合わせること */
.column_warn {
  color: #ff6666; /* bright red 0度 */
  margin: 0px 2px;
}

.paginate {
  margin: 8px auto;
  text-align: center;
}




/*----------------------------------------------------------------------------*/
/* エラーメッセージボックス */
/*----------------------------------------------------------------------------*/

.fieldWithErrors {
}

/* エラーボックス全体 */
#errorExplanation {
  width: 350px;
  border: 1px solid <%= @colors[:error_line] %>;
  padding: 0px;
  padding: 0em 0em 0em 0em;
  margin: 20px auto 20px auto;
  background-color: <%= @colors[:error_box_back] %>;
}

/* エラーメッセージの上のタイトル */
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 2px 1em;
  margin: 0px;
  font-size: 12px;
  color: <%= @colors[:error_title_font] %>;
  border: 0px;
  background-color: <%= @colors[:error_title_back] %>;
}

#errorExplanation p {
  margin: 0px 0px 0px 0px;
  padding: 0.5em 2em 0.5em 1em;
}

#errorExplanation ul {
  margin: 12px 0px 12px 0px;
}

#errorExplanation li {
  list-style: disc;
  list-style-position: inside;
  font-size: 10px;
  margin: 2px 20px 2px 20px;
}

/*----------------------------------------------------------------------------*/
/* タイトル付きリスト */
/*----------------------------------------------------------------------------*/

div#globalNaviArea {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid;
/*   border-top: 3px solid; */
  border-bottom: 1px dotted;
  background: <%= @colors[:gnavi_link_back] %>;
  color: <%= @colors[:gnavi_link_font] %>;
  border-color: <%= @colors[:gnavi_line] %>;
}

/* ボックス全体 */
ul#globalNavi  {
  margin: 0px;
  font-size: 10px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

/* 中身の一つの行 */
#globalNavi a {
  display: block;
  padding: 7px 0px 5px 0px;     /* メニュー要素の上下幅(センタリングされているので左右のパディングは設定しない) */
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  height: 100%;
/*   vertical-align: middle; */
}

#globalNavi li {
  float: left;
  width: 110px;                 /* メニュー要素の幅 */
  height: 19px;
}

#globalNavi a:hover, #globalNavi a:active, a.activeNavi {
  color: <%= @colors[:gnavi_font_active] %>;
  background-color: <%= @colors[:gnavi_back_active] %>;
}

a:link.nonActive, a:visited.nonActive  {
  color: <%= @colors[:gnavi_link_font] %>;
  text-decoration: none;
  background: <%= @colors[:gnavi_link_back] %>;
}

#globalNavi img {
  margin-right: 4px;
  border-width: 0px;            /* アイコンにリンクの枠が付くのを防ぐ */
  vertical-align: middle;
}


#globalNaviEnd {
  clear: both;
  margin: 0px;
  padding: 0px;
  border: 1px solid <%= @colors[:gnavi_line] %>;
}


/*----------------------------------------------------------------------------*/
/* サブメニュー */
/*----------------------------------------------------------------------------*/

.submenu {
  margin: -5px 0px 0px 0px;
  font-size: 10px;
  text-align: right;
  color: <%= @pale_black_color %>;
}
.submenu a {
  padding: 0px 3px;
}


/*----------------------------------------------------------------------------*/
/* 一時的メッセージ */
/*----------------------------------------------------------------------------*/

.flashNotice {
  padding: 1.1em 1.1em;
  margin: 0px 60px 10px 60px;
  border: 1px solid <%= @line_color %>;
  background-color: <%= Palette[9] %>;
  -moz-border-radius: 16px;
}


/*----------------------------------------------------------------------------*/
/* アイコン */
/*----------------------------------------------------------------------------*/

a img.silk_icon, span img.silk_icon {
  margin-right: 4px;
  border-width: 0px;            /* アイコンにリンクの枠が付くのを防ぐ */
  vertical-align: middle;
}


#topic_path_list img.silk_icon {
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: bottom;
}

/*----------------------------------------------------------------------------*/
/* 検索 */
/*----------------------------------------------------------------------------*/

#search {
  position: absolute;
  top: 85px;
  right: <%= space_size %>px;
  display: block;
}

#search input[type="text"] {
  width: 170px;
}

.search_result_one {
  margin: 10px 0px 10px 0px;
}

.search_result_title {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.search_result_body {
  font-size: 12px;
}

.search_result_url {
  font-size: 10px;
}

.search_result_updated_at {
  font-size: 10px;
}

.search_result_one .highlight {
  background: yellow;
}

#search-indicator {
  /* ここで display: none; を書くとずっと表示されなくなってしまう。*/
  font-size: 12px;

  position: absolute;
  top: 108px;
  right: 100px;
  display: block;

  padding: 8px 12px;
  background: <%= @hada_color %>;
  border: 1px solid <%= @light_main_color %>;
}

#search-indicator img {
  vertical-align: middle;
}

/*----------------------------------------------------------------------------*/
/* タグ雲 */
/*----------------------------------------------------------------------------*/

.tag_cloud {
  text-align: center;
}

.popular_tag {
  vertical-align: middle;
}


/*----------------------------------------------------------------------------*/
/* プロモーション */
/*----------------------------------------------------------------------------*/

.syndicate {
  padding: 0px;
  margin: <%= space_size %>px 0px;
}

.syndicate a img {
  display: block;
  padding: 0px;
  margin: <%= space_size/2+3 %>px 0px;
}


/*----------------------------------------------------------------------------*/
/* 最近登録したメモ */
/*----------------------------------------------------------------------------*/

.sidebar_latest_articles a {
  font-size: 10px;
  margin: 2px 3px 2px 3px;
}


/*----------------------------------------------------------------------------*/
/* グラフ */
/*----------------------------------------------------------------------------*/

.report_chart_select {
  text-align: center;
}
.report_chart_select li {
  display: inline;
  margin: 0px 4px;
}

.report_graph {
  text-align: center;
}



/*----------------------------------------------------------------------------*/
/* プログラムのソース表示 */
/*----------------------------------------------------------------------------*/

.program_source {
  background: <%= Palette[9] %>;
  margin: 12px 20px 0px 20px;
  padding: 4px 4px 4px 4px;
  -moz-border-radius: 16px;
  font-size: 10px;
}

/*----------------------------------------------------------------------------*/
/* テーブル化するテスト */
/*----------------------------------------------------------------------------*/

div#nifty{ margin: 0 10%;background: #9BD1FA}

/*----------------------------------------------------------------------------*/
/* 新規メモ→タグ */
/*----------------------------------------------------------------------------*/

.tag_on {
  background: <%= Palette[9] %>;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  font-size: 10px;
}

/*----------------------------------------------------------------------------*/
/* 新規メモ→URL覧を開くアイコン */
/*----------------------------------------------------------------------------*/

/* 上下をめり込ませて隙間を消す */
#article_url_show {
  text-align: right;
  margin-top: -4px;
  margin-bottom: -18px;
}

/*----------------------------------------------------------------------------*/
/* 新規メモ→タグの候補を消すアイコン */
/*----------------------------------------------------------------------------*/

.article_tag_choice_hide {
  text-align: right;
  margin: -1px 0px -13px 0px;
}

/*----------------------------------------------------------------------------*/
/* 新規メモ→タグの候補 */
/*----------------------------------------------------------------------------*/

#article_tag_choice dl {
  margin: 0px 12px 0px 12px;
  padding: 0;
}

/* 候補の左側タイトル */
#article_tag_choice dt  {
  margin: 6px 0px 5px 0px;
  border: none;
}

/* 候補の左側タイトルのリンク */
#article_tag_choice dt a {
  padding: 2px 4px 2px 4px;
}

/* 候補の右側のブロック */
#article_tag_choice dd {
  margin: 0px 0px 0px 21px;
  padding: 0px 0px 0px 0px;
}


/*----------------------------------------------------------------------------*/
/* 画像を立体的に見せる */
/*----------------------------------------------------------------------------*/

div.imgholder {
  display: block;
  float: left;
  background: url(../images/dropshadow.png) no-repeat bottom right !important;
  background: url(../images/dropshadow.gif) no-repeat bottom right;
  margin: 10px 7px 0 10px !important;
  margin: 10px 0 0 5px;
}

div.imgholder img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #666;
  margin: -3px 5px 5px -3px;
  padding: 2px;
}




/*
   Local Variables: ***
   mode: css ***
   End: ***
   */
