<% @page_title ||= @article.subject %>
<% @topic_path_last ||= @page_title %>

<div class="article_body">
  <%= article_simple_format(@article.body) %>
</div>

<div class="article_footer">
    <span class="article_edit">
      <%= link_to icon_tag("bin"), {:controller => "articles", :action => "destroy", :id => @article}, :confirm => "本当に削除してもよろしいですか？", :post => true %>
      <%= link_to icon_tag("pencil"), {:controller => "articles", :action => "edit", :id => @article}, :post => true %>
    </span>
    <br />
    Tags: <% @article.tag_list.each{|tag_name| -%>
     <%= link_to(h(tag_name), :controller => "articles", :action => "search", :query => tag_name) %>
    <% } -%>
    <br />
  <%= link_to("permalink", :controller => "articles", :action => "show", :id => @article.id) %>
  <% unless @article.tag_list.empty? -%>
    <% unless Article.find_tagged_with(:any => @article.tag_list, :conditions => ["articles.id != ?", @article.id]).empty? -%>
        <%= link_to_function("関連メモ &raquo", "
           if (Element.empty('article_#{@article.id}_related_articles')) {
             " + remote_function(:url => {:controller => "articles", :action => "related_articles", :id => @article}) + "
           } else {
             if (Element.visible('article_#{@article.id}_related_articles')) {
                $('article_#{@article.id}_related_articles').hide();
             } else {
                $('article_#{@article.id}_related_articles').show();
             }
           }
           ") %>
    <% end -%>
  <% end -%>
  <br />

  Posted by <%= link_to h(@article.user.login), :controller => "user_info", :action => "profile", :login => @article.user.login %>
  at <%= @article.created_at %>
  (<%= @article.access_count %> Views)
</div>

<%= content_tag :div, '', :id => "article_#{@article.id}_related_articles" %>
