/ TODO, missing some feautures
%li
  .article_header_subject
    = link_to header.subject, "#todo"
    = new_icon header
  .article_header_tag
    - unless header.url.blank?
      = link_to(h(truncate(header.url, :length => URL_TRUNCATE_LENGTH)), header.url)
      %br
  = content_tag :div, '', :id => "article_#{header.id}"
