%li
  .article_header_subject
    / = link_to_remote header.subject, :url=>{:action=>'show'}, :update=>"article_#{header.id}"
    = link_to_function header.subject, load_article(header, "article_#{header.id}")
    = new_icon header
  .article_header_tag
    - unless header.url.blank?
      = link_to(h(truncate(header.url, :length => URL_TRUNCATE_LENGTH)), header.url)
      %br
  = content_tag :div, '', :id => "article_#{header.id}"
