#page
  %ul.submenu.inline
    %li よく見たメモ
    %li= link_to "今日", viewed_at_path(:at => "today")
    %li= link_to "週", viewed_at_path(:at => "this_week")
    %li= link_to "月", viewed_at_path(:at => "this_month")
    %li= link_to "年", viewed_at_path(:at => "this_year")

  %h2
    一覧 (
    = Article.count
    件)
  .article_list
    = will_paginate(@articles)
    %ul
      = render :partial => "articles/list", :object => @articles
    = will_paginate(@articles)

