<div class="roundedTitle">
  <span>
    <% if logged_in? -%>
      <%=h current_user.loginname %>さん、こんにちは。
    <% else -%>
      ゲストさん、ようこそ。
    <% end -%>
  </span>
</div>
<div class="roundedContent">
  <% if logged_in? -%>
    <p>カルマ <%= current_user.karma %></p>
    <p>メモ数 <%= current_user.articles.count %> (平均 <%= "%.2f" % current_user.articles_count_average_per_day %> / day)</p>
  <% else -%>
    <p><%= link_to "メンバー登録する", :controller => "account", :action => "signup" %></p>
  <% end -%>
</div>
