!!! XML utf8
!!! 1.1 strict
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= APPLICATION_TITLE
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = auto_discovery_link_tag :atom, :controller => "articles", :action => "feed"
    = stylesheet_link_tag 'fluid_layout', :media => 'screen'
    = stylesheet_link_tag 'main', :media => 'screen'
    = javascript_include_tag :defaults

  %body
    #wrapper
      #header
        .in
          #header-top
            %h1= link_to APPLICATION_TITLE, root_url
            %ul#usernavi.inline
              - if logged_in?
                %li= link_to icon_tag("user") + "マイページ", profile_path(:login=>current_user.login)
              %li= link_to icon_tag("folder_explore") + "最近見たメモ", :controller => "mypage", :action => "recently_viewed"
              %li= logged_in? ? link_to(icon_tag("door_out") + "ログアウト", logout_path) : link_to(icon_tag("door_in") + "ログイン", login_path)
          #header-menu.clear
            = render :partial => "layouts/sidebar/tagged"

      #content-wrapper
        #content
          .in
            %ul#content-menu.inline
              %li= link_to icon_tag("page_white_edit")+'新規メモ', new_article_path
              %li= link_to icon_tag("book_open")+'メモ一覧', articles_path
            #messages
              #notice= flash[:notice]
              #error= flash[:error]
              #warn= flash[:warn]
            #content-main
              = yield :layout

      #left
        .in
          = render :partial => "layouts/sidebar/user"
          = render :partial => "layouts/sidebar/popular_tags"
          = render :partial => "layouts/sidebar/most_viewed", :locals => {:period => 1.month.ago, :limit => 10}
          = render :partial => "layouts/sidebar/latest_articles", :locals => {:limit => 10}
          = render :partial => "layouts/sidebar/syndicate"

      #right
        .in

      #footer
        = render :partial => "layouts/footer"

      .clear
