!!! XML utf8
!!! 1.1 strict
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= application_title
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = auto_discovery_link_tag :atom, :controller => "articles", :action => "feed", :title => APPLICATION_TITLE
    = javascript_include_tag :defaults

  %body
    #body
      #header
        %h1= link_to APPLICATION_TITLE, root_url
        %ul#usernavi
          %li= link_to icon_tag("user") + "mypage", :controller => "mypage"
          %li= link_to icon_tag("folder_explore") + "recently viewed", :controller => "mypage", :action => "recently_viewed"
          %li= logged_in? ? link_to(icon_tag("door_out") + "logout", logout_path) : link_to(icon_tag("door_in") + "login", login_path)
      #menu
        = render :partial => "layouts/sidebar/user"
        = render :partial => "layouts/sidebar/popular_tags"
        = render :partial => "layouts/sidebar/most_viewed"
        = render :partial => "layouts/sidebar/latest_articles"
        = render :partial => "layouts/sidebar/search"
        = render :partial => "layouts/sidebar/syndicate"
      #content
        - if flash[:notice]
          #notice.flashNotice
            = flash[:notice]
        - if flash[:notice_duration]
          TODO
        
        = @content_for_layout

  = render :partial => "layouts/footer"
