!!! XML utf8
!!! 1.1 strict
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= application_title
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = auto_discovery_link_tag :rss, :controller => "articles", :action => "rss"
    = javascript_include_tag :defaults
    = javascript_include_tag "nifty"
    = stylesheet_link_tag "base", "niftyCorners"
    = stylesheet_link_tag "niftyPrint", :media => "print"
    = stylesheet_link_tag(css_url(:action => "base")).gsub(/\.css/, "")
    = stylesheet_link_tag(css_url(:action => "style")).gsub(/\.css/, "")
    = javascript_include_tag "main"

  %body
    #container
      #headerTop
        %h1= link_to APPLICATION_TITLE, :controller => ""
        #headerTopLink
          = link_to icon_tag("user") + "mypage", :controller => "mypage"
          &nbsp;&nbsp;
          = link_to icon_tag("folder_explore") + "recently viewed", :controller => "mypage", :action => "recently_viewed"
          &nbsp;&nbsp;
          - if logged_in?
            = link_to icon_tag("door_out") + "logout", {:controller => "account", :action => "logout"}
          - else
            = link_to icon_tag("door_in") + "login", :controller => "account", :action => "login"
        #description 〜環境設定やプログラミングなどの雑多な情報をデータベースで集中管理する実験〜

      #globalNaviArea{ :class=>"clearfix"}
        = content_for_global_navi
        #topic_path_list
          -if topic_path_list
            = topic_path_list
          -else
            &nbsp;

      #contentMainWithSidebar{:class=>"clearfix"}
        #sidebar{:class=>"sidebar"}
          #search-indicator{:style=>"display: none"}
            検索中...<%= icon_tag("database_gear.png") %>
            #search_results
          = render :partial => "users/sidebar"
          render_component(:controller => "articles", :action => "sidebar_tag_cloud")
          render_component(:controller => "articles", :action => "sidebar_most_viewed_articles")
          render_component(:controller => "articles", :action => "sidebar_latest_articles")
          = render :partial => "layouts/search"
          = render :partial => "layouts/syndicate"
